---
import { Icon } from "astro-icon/components";
import { type Experience } from "src/types/ui";

interface Props extends Experience {
  isOpen?: boolean;
}

const {
  company,
  dates,
  description,
  challenges,
  stack,
  isOpen = false,
}: Props = Astro.props;
---

<div
  class="collapse collapse-arrow bg-base-100 border-base-300 border"
  class:collapse-open={isOpen}>
  <input type="checkbox" />
  <div class="collapse-title">
    <h3 class="text-xl font-bold">{company}</h3>
    <small class="text-base italic pb-4">{dates.start} - {dates.end}</small>
    <p class="leading-loose mt-2">
      {description}
    </p>
  </div>
  <div class="collapse-content">
    <!-- Challenges -->
    <h4 class="text-lg pb-2">Logros y retos</h4>
    <ul class="flex flex-col gap-2 pb-8">
      {
        challenges.map((challenge) => (
          <li class="flex gap-2">
            <Icon
              class="text-green-500 shrink-0"
              name="material-symbols:check"
              size={24}
            />
            <span>{challenge}</span>
          </li>
        ))
      }
    </ul>

    <!-- Stack -->
    <h4 class="text-lg pb-2">Stack usado</h4>
    <div class="flex flex-wrap gap-2 text-sm">
      {stack.map((stack) => <span> {stack} </span>)}
    </div>
  </div>
</div>
