---
import Experience from "./Experience.astro";

interface Props {
  experiences: Array<any>;
}

const { experiences }: Props = Astro.props;
---

<ul
  id="experiences-list"
  class="space-y-8">
  {
    experiences.map((experiencie, index) => (
      <li class="experience-list-item flex gap-6">
        <div class="hidden md:flex flex-col gap-4 items-center">
          <span class="flex items-center justify-center w-12 h-12 rounded-full font-bold text-xl bg-gray-200 dark:bg-gray-800">
            {/* Count back from the last one */}
            {experiences.length - index}
          </span>
          <div class="w-1 flex-grow border-l-2 border-dotted" />
        </div>
        <Experience
          company={experiencie.company}
          position={experiencie.position}
          dates={experiencie.dates}
          description={experiencie.description}
          challenges={experiencie.challenges}
          stack={experiencie.stack}
        />
      </li>
    ))
  }
</ul>
