---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";

import Badge from "@components/common/Badge.astro";
import Section from "@components/common/Section.astro";

import Summary from "@components/portoflio/Summary.astro";
import ExperiencesList from "@components/portoflio/ExperiencesList.astro";
import ProjectCard from "@components/projects/ProjectCard.astro";

const projects = await getCollection("projects");
const experiences = await getCollection("experiences");

// Get all unique stacks from projects
const usedStack = Array.from(
  new Set(projects.map((project) => project.data.stack).flat())
);
---

<Layout>
  <Summary />

  <!-- Proyects section -->
  <Section
    id="projects"
    title="Proyectos"
    description="A lo largo de mi trayectoria he podido desarrollar proyectos personales que aborden problemas en nuevas areas de conocimiento y supongan un reto."
  >
    <h3 class="text-xl pb-4">Tecnologias</h3>
    <div id="used-stack" class="flex flex-wrap gap-4 text-sm pb-8">
      {usedStack.map((stack) => <Badge title={stack} />)}
    </div>
    <!-- Projects cards -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 pb-8">
      {
        projects.map(({ data }) => (
          <ProjectCard
            title={data.title}
            codename={data.codename}
            description={data.description}
            actions={data.actions}
            image={data.image_url}
          />
        ))
      }
    </div>
  </Section>

  <!-- Experience section -->
  <Section
    id="experiences"
    title="Experiencia"
    description="He tenido un par de trabajos en estos años, aqui puedes ver lo que he logrado y los retos a los que me enfrenté."
  >
    <ExperiencesList
      experiences={experiences.map((experience) => experience.data)}
    />
  </Section>
</Layout>
